@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}




:root{
    --main-color: #ce0021;
    --black-color: #333333;
    --white-color: #ffffff;
    --second-color: #787d83;
}

/*Body*/


/*Header*/
#top_header{
    background-color: var(--black-color);
    color: #9da1a3;
    font-size: 12px;
}

.welcome_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
    height: 40px;
}

#btn_sign{
    display: flex;
    list-style: none;
}

#btn_sign a{
    text-decoration: none;
    color: #9da1a3;
}

#btn_sign li{
    margin-right: 10px;
}

#btn_sign li:hover a{
    color: var(--main-color);
}

.log_out_btn{
    margin-left: 9px;
    border-left: 1px solid;
}


#middle_header{
    height: 110px;
    display: flex;
    padding: 18px;
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
    overflow: hidden;
    font-size: 14px;
}

#img_logo{
    width: 266px;
    height: 230px;
    padding-top: 30px;
}

#img_logo img{
    width: 100%;
    height: 100%;
}

#search_book{
    display: flex;
    width: 618px;
    height: 42px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

#input_search{
    flex:1;
    border: 0.5px solid var(--main-color);
    padding-left: 7px;
}

#btn_search{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    color: var(--white-color);
    background-color: var(--main-color);
    padding: 5px;
}


#btn_cart{
    width: 144px;
    height: 40px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    border-radius: 20px;
    padding: 10px;
}
/*End Header*/

/*Main*/
main{
    min-height: 500px;
    background-color: #f5f5f5;
}



#category_bar{
    background-color: var(--main-color);
    color: #fefefe;
    width: 100%;
    height: 45px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

#category{
    font-size: 16px;
    font-weight: bold;
    position:relative;
    cursor: pointer;
}

#container_category{
    position: absolute;
    width: 260px;
    height: 360px;
    background-color: var(--white-color);
    color: #db485f;
    padding: 15px;
    display: none;
    border-radius: 5px;
    flex-wrap: wrap;
    z-index: 999;
}


#category:hover #container_category{
    display: flex;
}

#category_list h4{
    margin-bottom: 5px;
    margin-top: 8px;
    transition: all 0.2s linear;
    cursor: pointer;
}

#category_list a{
    text-decoration: none;
    color:#db485f;
}

#category h4:hover{
    color:var(--white-color);
    background-color: #ec2a4a;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

#category_list p{
    margin-left: 20px;
    font-size: 14px;
    color: #c9c9c9;
    font-weight: 500;
    margin-bottom: 3px;
}


#category_list p:hover{
    color:#ce0021;
    cursor: pointer;
}

#list_category div{
    padding-left: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


#list_category div:hover{
    background-color: #ec2a4a;
    color: var(--white-color);
}

#list_category div span{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}


#right_category{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 14px;
}


#right_category li:hover{
    background-color: #b7001d ;
}

#right_category ul{
    width: 100%;
    list-style: none;
    display: flex;
}

#right_category ul li{
    margin-right: 20px;
}

#right_category ul li a{
    text-decoration: none;
    display: block;
    line-height: 40px;
    color: var(--white-color);
}

.category_general{
    top: 50px;
    margin: 0 140px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*End Main*/

/*Footer*/
footer{
    border-top: 1px solid #ccc;
}
#top_footer{
    height: 385px;
    background-color: var(--white-color);
}

#contact_info{
    height: 114px;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

#bar_split{
    width: 1232px;
    height: 1px;
    background-color: #ececec ;
    margin: 0 140px;
}

#item_summary h4{
    font-size: 20px;
    margin-bottom: 10px;
}


#item_summary p{
    margin-bottom: 8px;
    color: #757575;
    font-weight: 300;
    font-size: 15px;
}

#summary{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 140px;
}

#bottom_footer{
    height: 100px;
    background-color: #f5f5f5;
    padding: 50px 0px;
}

#bottom_footer p{
    margin:0 140px;
    text-align: center;
}
/*End Footer*/

/*Scroll to Top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 43px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    opacity: 0.6;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
  background-color: var(--main-color);
  opacity: 1;
}


#hethong_zbook{
    background-color: var(--white-color);
    margin: 30px 140px 0px;
    border-radius: 5px;
}

#hethong_zbook h2{
    padding: 10px;
    font-size: 20px;
    color: var(--second-color);
}

#hethong_zbook hr{
    border:0.5px solid #ccc;
}

#content_page_system_book{
    padding: 20px;
}

#content_page_system_book h4{
    color:#ff0714;
}

#content_page_system_book h4+p{
    color:var(--second-color);
}

#content_page_system_book p, h4{
    margin-bottom: 10px;
}

#form_contact{
    display: flex;
    flex-direction: column;
}

#form_contact input, textarea{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border:1px solid #ccc;
}

#form_contact input[type="submit"]{
    color:var(--white-color);
    background-color:  #ff0714;
    padding: 5px;
    border-radius: 5px;
    width: 135px;
    height: 44px;
    cursor: pointer;
}